<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
<h2>Login Page</h2>
<form action="" method="post" >{% csrf_token %}
	first_name:	<input type="" name="first_name"><br>
	last_name:	<input type="" name="last_name"><br>
	username:	<input type="" name="username"><br>
	email:		<input type="" name="email"><br>
	password1:	<input type="" name="password1"><br>
	password2:	<input type="" name="password2"><br>
	<input type="submit" name="" value="Register">
</form>
</body>
</html>